/* Estilo global para o corpo da página */
body {
  margin: 0;
  background-color: #f3f3f3; /* Cor de fundo */
  color: #333; /* Cor do texto */
}

/* Estilo para a página principal */
.page {
  display:grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  padding: 80px;
  gap: 64px;
  font-family: Arial, sans-serif;
}

/* Estilo principal do conteúdo */
.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* Lista ordenada dentro do conteúdo principal */
.main ol {
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  list-style-position: inside;
}

/* Estilo para itens da lista */
.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

/* Estilo para código dentro do conteúdo principal */
.main code {
  background: #f0f0f0;
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: bold;
}

/* Botões de chamada para ação */
.ctas {
  display: flex;
  gap: 16px;
}

/* Estilo para links de botões */
.ctas a {
  border-radius: 8px;
  height: 48px;
  padding: 0 20px;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

/* Botão primário */
a.primary {
  background: black;
  color: white;
}

/* Botão secundário */
a.secondary {
  border: 1px solid #ccc;
  min-width: 158px;
}

/* Rodapé */
.footer {
  display: flex;
  gap: 24px;
}

/* Links no rodapé */
.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Estilo responsivo para telas menores */
@media (max-width: 600px) {
  .page {
    padding: 32px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}